<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/js/bootstrap.min.css">
  <link rel="stylesheet" href="/js/css.css">
  <title>Hello, isPay</title>
</head>

<body class="bg-light">

  <main role="main" class="container">

    <div class="align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow  alipay">
      <div class="row">
        <div class="col">
          <div class="lh-100 ">
            <h6 class="mb-0 text-white lh-100">二维码收款</h6>
            <small>ISPAY.IN</small>
          </div>
        </div>
        <div class="col">
        </div>
      </div>
    </div>

    <div class="my-3 p-3 bg-white rounded box-shadow">
      <h6 class="border-bottom border-gray pb-2 mb-0">支付信息</h6>

      <ul class="list-group my-3">
        <li class="list-group-item">
          <span class="money" id="money1"></span>
          <span class="money_small" id="money2"></span>
        </li>
        <li class="list-group-item">
          <div class="img-box" style="flex-direction: column;">
            <div class="qrcodeimg"><img id="qrcodeimg"></div>
            <div class="timeout" style="display: none">二维码已过期</div>
          </div>

        </li>
        <li class="list-group-item" id="trade_no"></li>

        <li class="list-group-item">
          <span id="qrother">打开手机支付宝,扫一扫继续付款</span>
          <span id="qrmobile">请长按二维码保存至手机后，打开支付宝使用“扫一扫”，点击右上角“相册”选择刚保存的二维码进行支付</span>
        </li>
        <li class="list-group-item">
          <a class="download-alipay" href="https://mobile.alipay.com/index.htm" target="_blank">首次使用请下载手机支付宝</a></li>
        <li class="list-group-item">
          <div class="count" id="time-box"></div>
        </li>
      </ul>


    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content ">
          <div class="modal-header">
            <h5 class="modal-title" id="myModalLabel">提示</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
          </div>
        </div>
      </div>
    </div>

  </main>


  <script src="/js/jquery.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/jquery.cookie.js"></script>
  <script src="/js/jquery.form.min.js"></script>
  <script>
    $(document).ready(function () {

      var order_id = getParm('order_id');


      // 判断移动设备
      function isMobile() {
        if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
          return 1;
        }
        return 0;
      }

      function isWeixin() {
        var ua = window.navigator.userAgent.toLowerCase();
        if (ua.match(/MicroMessenger/i) == 'micromessenger') {
          return 1;
        }
        return 0;
      }

      // 判断是否安卓QQ浏览器
      function isQQAndroid() {
        var ua = window.navigator.userAgent.toLowerCase();
        if (ua.match(/QQ/i) == 'qq' && ua.match(/Android/i) == 'android') {
          return 1;
        }
        return 0;
      }

      function getParm(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return decodeURIComponent(r[2]);
        return null;
      }

      if (isMobile() && !isWeixin() && !isQQAndroid()) {
        // 手机端且不是微信浏览器且不是安卓QQ时支持一键打开支付宝
        $("#qrother").hide();
        $("#qrmobile").show();
        $("#startApp").show();
      } else {
        $("#qrother").show();
        $("#qrmobile").hide();
        $("#startApp").hide();
      }

      // 倒计时
      var count = 300;

      function countDown() {
        if (count == 0) {

          return;
        } else {
          count--;
        }
        setTimeout(function () {
          countDown();
        }, 1000);
      }

      function countTime() {
        var time = $.cookie('time');
        if (time <= 0) {
          $(".timeout").show();
          $("#time-box").hide();
          count = 10000;
          return;
        } else {
          time--;
          showTime(time);
          $.cookie('time', time, {
            path: '/'
          });
        }
        setTimeout(function () {
          countTime();
        }, 1000);
      }

      function showTime(v) {
        if (v == null || v == "") {
          return "";
        }
        var m = 0,
          s = 0;
        if (v >= 60) {
          m = Math.floor(v / 60);
          s = v % 60;
        } else {
          s = v;
        }

        if (m >= 0 && m <= 9) {
          m = "0" + m;
        }
        if (s >= 0 && s <= 9) {
          s = "0" + s;
        }
        $("#time-box").html("请于 " + m + " 分 " + s + " 秒 内支付");
      }

      function getQrcode() {
        $.ajax({
          url: "https://pay.ispay.in/qrcode/" + order_id,
          type: 'GET',
          success: function (data) {
            if (data.success) {
              if (data.order.state == 5) {
                $("#qrcodeimg").attr('src', data.order.imgtext);
                $("#trade_no").val(data.order.order_id);
                judgeState();
              }
            } else {
              console.log("获取二维码失败")
            }
          }
        });
      }

      function judgeState() {
        $.ajax({
          url: "/query/" + order_id,
          type: 'GET',
          success: function (data) {
            if (data.success) {
              if (data.state == 9) {
                $('#myModal').modal('show');
                $('#myModal .modal-body').text("恭喜您已成功支付，请查收通知邮件！");
                $.cookie('time', 0, {
                  path: '/'
                });
              } else {
                setTimeout(function () {
                  judgeState();
                }, 5000);
              }
            } else {
              console.log("获取二维码失败")

              // if (data.unix>0){
              //     showTime(data.unix);
              //     $.cookie('time', data.unix, {path: '/'});

              //     setTimeout(function () {
              //         judgeState();
              //     }, 5000);
              // }else{
              //     $('#myModal').modal('show');
              //     $('#myModal .modal-body').text("该订单未完成支付,已经过期！");
              //     $('#myModal').on('hide.bs.modal', function (e) {
              //         window.location.href = "/u/"+userid;
              //     });
              // }
            }
          }
        });
      }

      countDown();
      countTime();
      getQrcode();

    });
  </script>


</body>

</html>