<a href="#" id="card1907181295815949733" 
cardtype="historyCard" 
cardid="1907181295815949733" 
title="张斯 中国工商银行 ***9481 " 
class="J-history-item card-item" 
cardname="张斯" 
cardno="    621226***9481 " 
showcardno="    621226***9481 " 
bankname="中国工商银行" 
bankshortname="ICBC" 
prov="" 
city="" 
branch="" 
mobile="" 
seed="myContactsContainer-card1907181295815949733" 
smartracker="on">

<em class="name">张斯</em>
<span class="bank">中国工商银行(...9481)</span> - <span></span>
<span class="history-del" data-cardid="1907181295815949733" title="删除">X</span>

</a>

https://www.alipay.com/?appId=09999988&actionType=toCard&sourceId=bill&cardNo=621226***9481&bankAccount=张斯&money=1&amount=&bankMark=ICBC&bankName=中国工商银行&cardIndex=1907181295815949733&cardNoHidden=true&cardChannel=HISTORY_CARD&orderSource=from&buyId=auto


https://www.alipay.com/?appId=09999988&actionType=toCard&sourceId=bill&

&cardNo=填入带*的卡号，可以直接复制索引页面内的带*卡号
&bankAccount=持卡人姓名
&money=设置金额，默认留空
&amount=
&bankMark=银行缩写英文
&bankName=银行全名
&cardIndex=填写银行卡索引代码
&cardNoHidden=true
&cardChannel=HISTORY_CARD
&orderSource=from
&buyId=auto